<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/live.css">
    <title>LIVE</title>
</head>

<body>

    <section>
        <img class="parpadea" src="./img/live.png" alt="">
        <!--<img class="iframe" src="./img/loop.jpg" alt="">-->
        <iframe class="iframe-video" src="https://www.youtube.com/embed/G74W-rdtiGU?si=qhb2sMYRBhHMUb8x" title="YouTube video player" frameborder="0" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>
    </section>

</body>

</html>