<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/live.css">
    <link rel="stylesheet" href="../styles/index.css">
    <title>LIVE</title>
</head>

<body>

    <section>
        <img class="parpadea text live-img" src="../img/live.png" alt="">
        <img class="iframe" src="../img/loop.jpg" alt="">
        <!-- <iframe class="iframe" src="https://www.youtube.com/embed/tFUTNZcUjqE?si=D1Q9kk8YluCGUESZ&amp;start=1"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe> -->
    </section>

</body>

</html>