body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}



/********NAV**********/
.nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(2px);
    gap: 3rem;
    width: 100%;
    color: white;
    height: 100px;
}

.logo {
    width: 15%;
    height: 11vh;
}

.nav-page {
    font-size: 1rem;
    display: flex;
    gap: 0.8rem;
    list-style: none;
    font-weight: 600;
}

.nav-page-segundos-links a {
    background-color: black;
    border-radius: 50px;
    padding: 10px;
    color: #f2c70d;
}

.nav-page-segundos-links :hover {
    background-color: #f2c70d;
    border-radius: 50px;
    color: black;
}

/******SECTION PROMOCION*******/
.section-promocion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 30px 150px;
}
.mil-millones {
    height: 30%;
    width: 30%;
    padding-bottom: 200px;
}

.casi-irreal {
    width: 30%;
    height: 30%;
    padding-top: 100px;
}
.golden{
    width: 25%;
    height: 25%;
}
.luz {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 1000px;
    height: 700px;
    opacity: 0.6;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/******VIDEO********/

.iframe {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    border-radius: 10px;
    box-shadow: 0px 0px 13px -3px #f2c70d;
}

/*******BANNER*********/
.banner-golden img {
    display: block;
    margin: 0 auto;
}
.rebote img {
    width: 60%;
    height: 40%;
    margin-top: 100px;
    position: relative;
    animation-name: rebote;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
@keyframes rebote {
    0%   {top: 0px;}
    50%  {top: -50px;}
    100% {top: 0px;}
}

/*********SECTION INSTAGRAM***********/
.instagram-back {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 112px;
    height: 112px;
    margin-bottom: 10px;
    margin-top: 30px;
    border-radius: 100%;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.instagram-back-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.instagram-white {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    width: 107px;
    height: 107px;
    border-radius: 100%;
}

.logo-instagram {
    display: block;
    width: 80%;
}

.instagram-link a {
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
}


.instagram-photos {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 60vh;
}

/******REDES*********/

.sticky-container {
    padding: 0px;
    margin: 0px;
    position: fixed;
    right: -135px;
    top: 230px;
    width: 170px;
    z-index: 1100;
}

.sticky li {
    border-radius: 30PX;
    list-style-type: none;
    background-color: #000547;
    color: #efefef;
    height: 43px;
    padding: 0px;
    margin: 0px 0px 1px 0px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.sticky li:hover {
    margin-left: -5px;
}

.sticky li i {
    color: #f2c70d;
    float: left;
    margin: 10px 15px;
    margin-top: 15px;
    margin-right: 5px;
}

.sticky li p {
    color: white;
    padding-top: 10px;
    line-height: 16px;
    font-size: 11px;
}

.sticky li p a {
    text-decoration: none;
    color: white;
}

.sticky li p a:hover {
    text-decoration: underline;
}