.nav{
    margin-top: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    color: white;
}

.nav-page{
    font-size: 1.3rem;
    display: flex;
    gap: 2rem;
    list-style: none;
}
.links{
    border-radius: 50px;
    padding: 10px;
    color: darkgoldenrod;
    background-color: black;
}
.logo{
    width: 200px;
    height: 7vh;
}