body {
	background-image: url(../img/background.jpg);
	font-family: 'Montserrat', sans-serif;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}


.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}
